<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Data Scrapping</title>

  

</head>

<body>

  <div class="d-flex" id="wrapper">

    <form method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="inputAddress">Search Keyword</label>
        <input type="text" name="keyword" class="form-control" id="inputAddress" placeholder="google">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>


  </body>

  </html>
