<!DOCTYPE html>
<html lang="en">
<head>
	<title>Select File To generate Articles</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-12 my-3">
				<a href="/">Home</a> /
				<a href="/articlegenerator/list" class="ml-2">Generated Article List</a>
			</div>
			<div class="col-md-12">
				<h2>Select File To generate Articles</h2>
				<form action="/articlegenerator/generate-article" method="post">
					{% csrf_token %}
					<div class="form-group">
						<select class="form-control" id="sel1" name="file_path" required="">
							<option value="" selected="true" disabled="disabled">Please Select File Path</option>
							{% for file in files %}
							<option>{{ file.filename }}</option>
							{% endfor %} 
						</select>
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>

</body>
</html>
