<!DOCTYPE html>
<html lang="en">
<head>
	<title>Generated Articles </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
	{% if articles %}
	<div class="container">
		<h2>Article Table</h2>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Keyword</th>
					<th>title</th>
					<th>Status</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
				<tr>
					<td>{{ article.keywords }}</td>
					<td>{{ article.post_title }}</td>
					<td>{{ article.post_status }}</td>
				</tr>
				{% endfor %} 
			</tbody>
		</table>
	</div>
	{% endif %}

</body>
</html>