<!DOCTYPE html>
<html lang="en">
<head>
	<title>Generated Articles </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container">
		<div class="col-md-12 my-3">
			<a href="/">Home</a> /
			<a href="/articlegenerator/list" class="ml-2">Generated Article List</a>
		</div>
		
		<div class="col-md-12 my-3">
			<div class="col-md-12">
				<h2 class="mb-4 blogtitle">{{article.post_name}}</h2>
				<img src="{{article.image|slice:'2:'|slice:':-1'}}" class="img-fluid mb-3">
				<div class="">
					{{article.post_content}}
				</div>
			</div>
			
		</div>
	</div>

</body>
</html>