<!DOCTYPE html>
<html lang="en">

<head>
  <title>NCBI Data Scrapping</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <div class="col-md-12 my-3">
      <a href="/">Home</a> /
      <a class="ml-2">NCBI</a>
    </div>
    <form method="post">
      {% csrf_token %}

      <div class="form-group">
        <label for="inputAddress">Search Keyword</label>
        <input type="text" name="keyword" class="form-control" id="inputAddress" placeholder="enter keyword">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>
</body>

</html>
